name: aasj_bs
description: AASJ BS Business App
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.24.2
  firebase_auth: ^4.15.3
  cloud_firestore: ^4.13.6
  firebase_storage: ^11.6.5
  image_picker: ^1.0.7
  intl: ^0.18.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png
